.container {
  position: fixed;
  top: 0;
  left: 0;

  height: 100vh;
  width: 80px;
  background: var(--white);
  filter: drop-shadow(0px 0px 60px rgba(0, 0, 0, 0.05));

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.sidebarCenter {
  height: 100px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container button {
  background: transparent;
  border: 0;
}