.container {
  width: 100vw;
  margin: 0 auto;
  padding: 40px 250px;
  background: var(--background);

  display: flex;
  flex-direction: column;
}

.container.dark {
  --white: #1D1D1D;
  --background: #121212;
  --gray-line: #373737;
  --text: #A6A3A8;
  --title: #c3c3c3;
  --red: #CF6679;
  --green: #4cd62b;
  --share-background: #242424;
  --modal-background: rgba(56, 56, 56, 0.808);
}

.container h1 {
  color: var(--title);
  font-weight: 600;
  font-size: 36px;

  margin-bottom: 40px;
}

.table {
 border-collapse: separate;
 border-spacing: 0 8px;
}

.table th {
  color: var(--text);
  font-weight: 700;
  font-size: 14px;
  opacity: 0.5;
  padding-bottom: 18px;
  text-align: start;
}

.table th.thUser {
  padding-left: 15px;
}

.table tr > td {
  background: var(--white);
  
}

.table td.position {
  width: 72px;
  border-right: 5px solid var(--background);
  text-align: center;

  font-weight: 500;
  font-size: 24px;
}

.table td.user {
  padding: 16px 24px;
  display: flex;
}

.table td.user div.info {
  margin-left: 20px;
}

.table td.user .image {
  border-radius: 50%;
}

.table td.user strong {
  color: var(--title);
  font-weight: 600;
  font-size: 20px;
}

.table td.user .level {
  margin-top: 10px;
  width: 90px;
  display: flex;
  justify-content: space-between;
}

.table td > .challenges {
  display: flex;
}

.table td span {
  color: var(--blue);
  font-weight: 500;
  font-size: 16px;
  margin-right: 5px;
}

.table td span {
  font-weight: 500;
  font-size: 16px;
}

.table td > .experience {
  display: flex;
}