.container {
  width: 100%;
  height: 100vh;
  display: flex;
  background: #5965E0;
}

.leftSide {
  width: 50%;

  display: flex;
  justify-content: center;
}

.rightSide {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 100px;

}

.rightSide h3 {
  font-family: Inter;
  font-weight: 600;
  font-size: 36px;
  color: #fff;
}

.loginContainer {
  height: 250px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.githubLogin {
  display: flex;
  justify-content: space-between;
  width: 360px;
}

.githubLogin p {
  color: #B2B9FF;
  font-family: Inter;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  width: 300px;
}

.loginContainer button {
  width: 380px;
  border: 0;
  background: transparent;
  outline: 0;
  
  display: flex;
}

.fade {
  width: 300px;
  height: 100%;
  background: linear-gradient(90deg, #4953B8 0%, rgba(73, 83, 184, 0.2) 100%);
  border: 2px solid transparent;
  color: #B2B9FF;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  display: flex;
  align-items: center;
  transition: 0.2s;
}

.fade p {
  margin-left: 30px;
}

.solid {
  width: 80px;
  height: 80px;
  background: #4953B8;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.loginContainer button:hover .fade {
  border: 2px solid #414AA3;
}

.loginContainer button:hover .solid {
  background: #4CD62B;
}